

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org">
<head>
<meta charset="ISO-8859-1">

<link rel="stylesheet" href="css/styles.css">


<title>Player Tracking System</title>
</head>

<body>

  
     <div class="container">
         <header>

     

     <nav>
         <a href="#" class="hid-desktop">
             <img src="two.jpg" alt="taco" class="logo" id="logo">
         </a>
         <ul class="show-desktop hid-mobile" id="nav">
             <li><a href="index.html">Home</a></li>
             <li><a href="golf.html">service</a></li>
             <li><a href="form.html">about</a></li>
             <li><a href="register.htm">contact</a></li>


         </ul>


     </nav>

    </header>

    <section>
        <img src="images/three.jpg" alt="server" class="server">

        <h1> web hosting for modern era</h1>
        <p class="subhead"> go serverless for good</p>



    </section>
     </div>
     <div class="blue-container">
         <div class="container">
             <ul>
                 <li>
                     <img src="images/one.jpg" alt="one" class="calan">
                     <p>hello this is comig from calnderner for all</p>
                 </li>
                 <li>
                    <img src="images/four.jpg" alt="one" class="calan">
                    <p>hello this is comig from calnderner for all</p>
                </li>
                <li>
                    <img src="images/three.jpg" alt="one" class="calan">
                    <p>hello this is comig from calnderner for all</p>
                </li>
             </ul>
        
         </div>

     </div>
     <div class="grey-container">
         <div class="container">
             <ul>
                 <li>
                     <figure>
                     <img src="d:/images/five.jpg" alt="user" class="user">
                     <blockquote> one the best web site for me</blockquote>
                     <figcaption>Juma</figcaption>
                
                </figure>
            </li>


           <li>
                     <figure>
                     <img src="images/four.jpg" alt="user" class="user">
                     <blockquote> one the best web site for me</blockquote>
                     <figcaption>hekmati</figcaption>
                
                </figure>
            </li>


             </ul>

         </div>

     </div>

     <div class="container">
         <h2>start your free tril now </h2>
         <a href="#" class="cta">Get Started</a>

     </div>
     <footer>

        <div class="footer-container">
            <div class="container">
                <a href="#"><img/images/one.jpg class="logo">
                </a>
                    <p class="address">  chicago il 60613<br>USA</p>
               
                    <ul class="footer-link">
                        <li><a href="#">Service Term</a></li>
                        <li><a href="#">privcy policy</a></li>

                    </ul>
                

            </div>

        </div>
     </footer>



</body>
</html>